/* table style*/
fieldset {
	color:#333;
	width:100%;
	min-width: 400px;
	max-width:720px;
	background-color: #eee;
	display:flex;
	border: none;
} 
legend {
	color:#06c;
	font-family: 'Poiret One', cursive;
	font-weight:800; 
	background-color:#fff;
	border:#b6b6b6 solid 1px;
	padding:3px 6px;
	border-style:dotted;
	font-size:150%;
} 

fieldset select, fieldset input, fieldset textarea{
	padding:4px 0px 4px 0px;
	margin: 5px 0px 10px 0px;
}

fieldset textarea{
	width:100%;
}
/* form style*/
#contact {
	display:flex;
	width:100%;
	height:auto;
}

#contact select, #contact input{
	width:100%;
}

@media only screen and (min-width: 400px) {
	#contact {
		justify-content:center;
	}
}

@media only screen and (min-width: 650px) {
	fieldset ,#contact {
		margin:10px;
    }
}

@media only screen and (min-width: 1000px) {
	
}