/* table style*/
#content-warpper {
		display:flex;
		width:100%;
}
fieldset {
	margin:10px;
	color:#333;
	width:100%;
	min-width: 400px;
	max-width:720px;
	background-color: #eee;
	display:flex;
	border: none;
} 
legend {
	color:#06c;
	font-family: 'Poiret One', cursive;
	font-weight:800; 
	background-color:#fff;
	border:#b6b6b6 solid 1px;
	padding:3px 6px;
	border-style:dotted;
	font-size:150%;
} 

fieldset select, fieldset input, fieldset textarea{
	padding:4px 0px 4px 0px;
	margin: 5px 0px 10px 0px;
}

fieldset textarea{
	width:100%;
}
/* form style*/
#login {
	display:flex;
	width:100%;
	height:auto;
	margin:10px;
	
}

#login select, #login input{
	width:100%;
}

@media only screen and (min-width: 400px) {
	#content-warpper ,#login{
		justify-content:center;
	}
}

@media only screen and (min-width: 650px) {
	
}

@media only screen and (min-width: 1000px) {
	
}